<div class="container" *ngIf="form">
    <div #expenseForm class="expense-form">
        <form class="form-group" [formGroup]="form">
            <div class="row col-6">
                <div class="col-6">
                    <label>Name:</label>
                    <input class="form-control" formControlName="name" readonly />
                </div>
                <div class="col-6">
                    <label>Project:</label>
                    <input class="form-control" formControlName="project" readonly />
                </div>
                <input type="text" formControlName="project_id" hidden />
            </div>
            <div class="row col-12">
                <div class="col-3">
                    <label>Team No:</label>
                    <input class="form-control" formControlName="team_no" readonly />
                </div>
                <div class="col-3">
                    <label>Request Date:</label>
                    <input class="form-control" formControlName="req_date" readonly />
                </div>
                <div class="col-6 advance-amount-container">
                    <label class="advance-label">Advance Amount:</label>
                    <p class="advance-value">{{ advance_amount | currency:'INR' }}</p>
                </div>
            </div>

            <div formArrayName="teammember" class="row">
                <div *ngFor="let team of teamMembers.controls; let i = index" [formGroupName]="i"
                    class="form-group col-md-3 mb-3">
                    <label for="input{{ i }}">Team Member {{ i + 1 }}:</label>
                    <input class="form-control" type="text" formControlName="name" id="input{{ i }}" />
                    <input type="hidden" formControlName="id">
                </div>
            </div>

            <table class="content-table" formArrayName="reimbursement">
                <thead>
                    <tr>
                        <th *ngIf="role === 'Manager' || role === 'Accountant' || role === 'Finance'"
                            style="width:2.5%;">
                        </th>
                        <th style="width:2.5%;">Sr. No</th>
                        <th style="width:20%;">Description</th>
                        <th style="width:10%;">Date</th>
                        <th style="width:8%;">Amount</th>
                        <!-- <th style="width:16%;">Status</th> -->
                        <th style="width:8%;">Status</th>
                        <th style="width:16%;">Comment</th>
                        <th style="width:10%;">Document</th>
                        <th *ngIf="role === 'Manager' || role === 'Accountant' || role === 'Finance'"
                            style="width:16%;">
                            Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let itemwe of items.controls; let i = index" [formGroupName]="i">
                        <td *ngIf="role === 'Manager' || role === 'Accountant' || role === 'Finance'"
                            style="width: 100%;">
                            <!-- <p>Disabled: {{ isButtonDisabled(itemwe.value.bill_status1, itemwe.value.button_status) }}
                            </p> -->
                            <input type="checkbox" formControlName="selected" (change)="onCheckboxChange($event, i)"
                                [disabled]="isButtonDisabled(itemwe.value.bill_status1, itemwe.value.button_status)">
                        </td>
                        <td style="width: 100%;">{{ i + 1 }}</td>
                        <td><input style="width: 100%;" formControlName="description"
                                [readonly]="role === 'Manager' || role === 'Accountant' || role === 'Finance'" /></td>

                        <td><input type="date" style="width: 100%;" formControlName="expense_date"
                                [readonly]="role === 'Manager' || role === 'Accountant' || role === 'Finance'" /></td>

                        <td><input style="width: 100%;" formControlName="amount"
                                [readonly]="role === 'Manager' || role === 'Accountant' || role === 'Finance'" /></td>
                        <td style="width: 100%;">{{ itemwe.value.expense_status }}</td>
                        <td><input style="width: 100%;" formControlName="comment" /></td>
                        <input type="hidden" formControlName="id">
                        <td>
                            <!-- Display existing file -->
                            <!-- <div *ngIf="itemwe.value.bill_docs">
                            <ng-container *ngIf="isImageFile(itemwe.value.bill_docs); else docLink">
                                <img [src]="getImageUrl(itemwe.value.bill_docs)" alt="Document" width="50" height="50">
                            </ng-container>
                            <ng-template #docLink>
                                <a [href]="getImageUrl(itemwe.value.bill_docs)" target="_blank">View File</a>
                            </ng-template>
                        </div> -->
                            <div *ngIf="!itemwe.value.bill_docs">No Document</div>

                            <!-- File Upload Input -->
                            <input *ngIf="role === 'Employee'" type="file" (change)="onFileSelect($event, i)" />
                            <div *ngIf="role === 'Employee' && itemwe.value.bill_docs">
                                <a [href]="getImageUrl(itemwe.value.bill_docs)" target="_blank">Open Document</a>
                            </div>

                            <!-- View Existing File (For Non-Employees) -->
                            <div *ngIf="role !== 'Employee' && itemwe.value.bill_docs">
                                <a [href]="getImageUrl(itemwe.value.bill_docs)" target="_blank">Open Document</a>
                            </div>
                        </td>
                        <td *ngIf="role === 'Manager' || role === 'Accountant' || role === 'Finance'">
                            <!-- <button [disabled]="isButtonDisabled(itemwe.value.bill_status1, itemwe.value.button_status)"
                                mat-button color="primary" (click)="approveExpense(i)">Approve</button>
                            <button [disabled]="isButtonDisabled(itemwe.value.bill_status1, itemwe.value.button_status)"
                                style="margin-left: 10px;" mat-button color="warn"
                                (click)="reViewExpense(i)">Review</button>
                                <button [disabled]="isButtonDisabled(itemwe.value.bill_status1, itemwe.value.button_status)"
                                style="margin-left: 10px;" mat-button color="warn"
                                (click)="rejectExpense(i)">Reject</button> -->

                            <!-- <button mat-icon-button color="primary" matTooltip="Approve">
                                <mat-icon>check_circle</mat-icon>
                            </button>

                            <button mat-icon-button color="warn" matTooltip="Reject">
                                <mat-icon>cancel</mat-icon>
                            </button>

                            <button mat-icon-button color="accent" matTooltip="Review">
                                <mat-icon>visibility</mat-icon>
                            </button> -->
                            <div class="icon-container">
                                <!-- Approve Button -->
                                <button mat-icon-button color="primary"
                                    [disabled]="isButtonDisabled(itemwe.value.bill_status1, itemwe.value.button_status)"
                                    (click)="approveExpense(i)">
                                    <i class="bi bi-check-circle approve-icon" data-bs-toggle="tooltip"
                                        title="Approve"></i>
                                </button>

                                <!-- Reject Button -->
                                <button mat-icon-button color="warn"
                                    [disabled]="isButtonDisabled(itemwe.value.bill_status1, itemwe.value.button_status)"
                                    (click)="rejectExpense(i)">
                                    <i class="bi bi-x-circle reject-icon" data-bs-toggle="tooltip" title="Reject"></i>
                                </button>

                                <!-- Review Button -->
                                <button mat-icon-button color="accent"
                                    [disabled]="isButtonDisabled(itemwe.value.bill_status1, itemwe.value.button_status)"
                                    (click)="reViewExpense(i)">
                                    <i class="bi bi-pencil-square review-icon" data-bs-toggle="tooltip"
                                        title="Review"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- Buttons for bulk approve/reject -->
            <div style="display: flex; align-items: center; gap: 10px;">
                <label [style.display]="role == 'Employee' ? 'none' : 'inline-block'">Select All</label>
                <input [style.display]="role == 'Employee' ? 'none' : 'inline-block'" type="checkbox"
                    [checked]="allChecked" (change)="toggleSelectAll($event)" [disabled]="isSelectAllDisabled()">

                <button mat-raised-button color="primary"
                    [style.display]="role == 'Manager' || role == 'Accountant' ? 'inline-block' : 'none'"
                    class="btnAprove" type="button" (click)="approveSelected()"
                    [disabled]="selectedExpenses.length === 0">
                    Approve Selected
                </button>

                <button mat-raised-button color="warn"
                    [style.display]="role == 'Manager' || role == 'Accountant' ? 'inline-block' : 'none'"
                    class="btnAprove" type="button" (click)="reviewSelected()"
                    [disabled]="selectedExpenses.length === 0">
                    Review Selected
                </button>

                <button mat-raised-button color="warn"
                    [style.display]="role == 'Manager' || role == 'Accountant' ? 'inline-block' : 'none'"
                    class="btnAprove" type="button" (click)="rejectSelected()"
                    [disabled]="selectedExpenses.length === 0">
                    Reject Selected
                </button>
            </div>
            <button [style.display]="role == 'Employee' ? 'inline-block' : 'none'" type="button" (click)="updateForm()"
                [disabled]="req_status != 'M'">Update</button>
            <!-- <h1>{{ req_status }}</h1>  -->
            <!-- Display Total Amount -->
            <div [style.display]="role !== 'Employee' ? 'inline-block' : 'none'" class="total-amount">
                <strong>Total Amount: </strong> {{ totalAmount | currency:'INR' }}
            </div>
            <button id="backbtn" style="margin-left: 10px;margin-top: 10px;" type="button" (click)="goBack()">Back</button>
            <!-- <button [style.display]="role == 'Manager' || role == 'Accountant' ? 'inline-block' : 'none'" class="btnAprove" type="button"
            (click)="approveExpenses()" [disabled]="selectedExpenses.length === 0">Approve</button> -->

            <button [style.display]="role == 'Finance' ? 'inline-block' : 'none'" class="btnAprove" type="button"
                (click)="approveSelected()" [disabled]="selectedExpenses.length === 0">{{ buttonLabel }}</button>
        </form>
    </div>
    <!-- <button *ngIf="role === 'Finance'" (click)="generatePDF()" class="btn btn-primary mt-3">Download PDF</button> -->
</div>